# Keystore
dbro.pro

#Secrets
SECRETS.java

#Embargo Data
playaDatabase.db.zip
iBurn/src/main/assets/json/
.DS_Store
*.class
data/

# Android Studio
.idea/
.gradle/
local.properties
/*/out
iBurn/build/
iBurn/production/
build
*.iml
*.iws
*.ipr
*~
*.swp
gradle.properties
local.properties
*.apk
libraries/google-play-services_lib/build/*
iBurn/src/main/gen/
libraries/google-play-services_lib/gen/
captures
