# Keystore
dbro.pro*

#Secrets
SECRETS.java
SECRETS.kt

#Embargo Data
iBurn/src/main/assets/databases/
iBurn/src/main/assets/json/
.DS_Store
*.class
data/

#Bundled media
iBurn/src/main/assets/audio_tour/
iBurn/src/main/assets/art_images/

# Android Studio
.idea/
.gradle/
local.properties
/*/out
iBurn/build/
iBurn/production/
build
*.iml
*.iws
*.ipr
*~
*.swp
local.properties
*.apk
libraries/google-play-services_lib/build/*
iBurn/src/main/gen/
libraries/google-play-services_lib/gen/
captures
*.hprof

iBurn/regular/release/output.json
iBurn/regular

iBurn/output.json
iBurn-Data/

*.aab

fabric.properties

android-commandlinetools.zip
